
// Alertify.js Global Overrides
// http://http://alertifyjs.com/
//

.ajs-message {
  color: $white;
  font-weight: 700;
  border-radius: $standard-radius;
}

.alertify-notifier.ajs-bottom {
  bottom: 60px;
}
