.mdev-table-cell {
  width: 14%;

  input {
    margin-top: 0;
  }
}

.smallColumn {
  width: 4%;
}

.mediumColumn {
  width: 10%;
}

.mdev-serviced-plugin {
  margin-left: 0;
}

.info-icon {
  display: inline-block;
  border-radius: 3px;
  padding: 8px;
  background: $active-blue;
  color: $white;

  @media screen and ('$tablet-only-comp') {
    padding: 3px;
  }
}



@media screen and ('$phone-only-comp') {
  .mdev-table-cell {
    width: 100%;
    padding: 5px 0;
  }
  
  .mdev-table-row {
    flex-wrap: wrap;
    position: relative;
  }
  
  .mdev-table-head {
    display: none;
  }
  
  .--side-modifier {
    width: 50%;
    padding: 0;
    margin-top: 10px;
  }
  
  .--top-modifier {
    position: absolute;
    top: $large-spacing;
    padding: 0;
    right: -87%;
  }

  .--name-modifier {
    font-size: 6vw;
    margin-bottom: 8px;
  }

  .--column-modifier {
    width: 24%;
    display: inline-block;
  }

  .mdev-status-btn {
    height: 10.2vw;
    margin: 0 0 0 5px;
    font-size: 3.4vw;
    width: 100%;
  }
}
