/*-------------------------------------
 *	SCAFFOLDING & LAYOUT UTILITIES
/-------------------------------------*/

// Wrapper Classes

.mdev-main-wrapper {
  width: 90%;
  margin: 0 auto;
  position: relative;
  padding: 0;
  min-width: 300px;

  @media #{$tablet-only} {
    max-width: 800px;
  }

  @media #{$laptop-up} {
    width: 95%;
    max-width: 1400px;
  }

  @media #{$xl-up} {
    max-width: 1600px; 
  }
}

// Content Container

.mdev-main-content-frame {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 100px;

  @media #{$tablet-up} {
    border-radius: $standard-radius;
    margin-top: 30px;
  }
}

.mdev-frame-header {
  width: 100%;
  background: $zucora-blue;
  color: $white;
  padding: 15px 30px;
  font-weight: $heading-weight; 
  text-transform: uppercase;
  @include font-size($order-header-font-sizes);

  @media #{$phone-only} {
    display: none;
  }

}

// Columns

.mdev-half-column {
  width: 100%;

  @media screen and ('$tablet-up-comp') {
    width: 50%;
  }
}
