/*-------------------------------------
 *	SCAFFOLDING & LAYOUT UTILITIES
/-------------------------------------*/

// Wrapper Classes

.mdev-main-wrapper {
  width: 95%;
  margin: 0 auto;
  position: relative;
  padding: 0;
  min-width: 320px;

  @media #{$tablet-only} {
    max-width: 800px;
  }

  @media #{$laptop-up} {
    max-width: 1400px;
  }

  @media #{$xl-up} {
    max-width: 1600px; 
  }
}

// Content Container

.mdev-main-content-frame {
  width: 100%;
  height: auto;
  border-radius: 3px;
  overflow: hidden;
  margin-top: 30px;
}

.mdev-frame-header {
  width: 100%;
  background: $zucora-blue;
  color: $white;
  padding: 15px;
  font-weight: $heading-weight; 
  @include font-size($h3-font-sizes);
}
