.mdev-table-container {
  width: 100%;
  position: relative;

  .mdev-table-head {
    width: 100%;
    position: relative;
    justify-content: space-between;
    align-items: middle;
    background: #f9f9f9;
    padding: $medium-spacing $large-spacing;
    color: $active-grey;
    font-weight: $heading-weight;
  }

  .mdev-table-row {
    padding: $medium-spacing;
    justify-content: space-between;
    border-bottom: 1px solid $bkg-light-grey;
    align-items: flex-start;
    color: $active-grey;

    @media #{$tablet-up} {
      padding: $medium-spacing $large-spacing;
    }
  }

  .mdev-table-cell {
    text-align: left;
  }

  .mdev-hidden-label {
    color: $active-grey;
    font-weight: $heading-weight;
  }
}


