/*-------------------------------------
 *	TYPOGRAPHY
/-------------------------------------*/

/* Main */
body {
  font-family: $main-font;
  font-size: 16px;
  color: $zucora-blue;
  background-color: $bkg-light-grey;
}

/* Headings & Body Copy */

/* Reset Fonts */

/* Disabled because the new line rule was not intended for these cases */
/* stylelint-disable */
h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6, {
  font-family: $main-font;
  font-weight: 700;
  color: inherit;
}

// Responsive Font Size Maps
$p-font-sizes: (
  null  : 14px,
  $tablet-up : 16px,
  $desktop-up: 19px
);

$h1-font-sizes: (
  null  : 4.5vw,
  $tablet-up : 1.5vw,
  $desktop-up: 2vw
);

$h2-font-sizes: (
  null  : 30px,
  $tablet-up : 32px,
  $desktop-up: 1.5vw
);

$h3-font-sizes: (
  null  : 20px,
  $tablet-up : 22px,
  $desktop-up: 1.1vw
);

$h4-font-sizes: (
  null  : 60%,
  $tablet-up : 90%,
  $desktop-up: .8vw
);

$h5-font-sizes: (
  null  : 14px
);

$h6-font-sizes: (
  null  : 10px
);

// Links
$link-font-sizes: (
  null  : 3vw,
  $tablet-up : 1.5vw,
  $laptop-up : 1vw,
  $desktop-up: .8vw
);

$footer-font-sizes: (
  null  : 2vw,
  $tablet-up : 1vw,
  $laptop-up : .8vw,
  $desktop-up: .7vw
);

// Table Header
$table-header-font-sizes: (
  null  : 2vw,
  $tablet-up : 1vw,
  $laptop-up : .8vw,
  $desktop-up: .7vw
);
// Responsive Font-Size Mixing (Function Only)
@mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
      @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    }
    @else {
      @media #{$fs-breakpoint} {
        font-size: $fs-font-size;
      }
    }
  }
}

/* stylelint-enable */

/* Generate Responsive Sizing */

p {
  line-height: 24px;
  @include font-size($p-font-sizes);
}

h1,
.h1 {
  @include font-size($h1-font-sizes);
}

h2,
.h2 {
  @include font-size($h2-font-sizes);
}

h3,
.h3 {
  @include font-size($h3-font-sizes);
}

h4,
.h4 {
  @include font-size($h4-font-sizes);
}

h5,
.h5 {
  @include font-size($h5-font-sizes);
}

h6,
.h6 {
  @include font-size($h6-font-sizes);
}

/* Font Control */

.mdev-main-nav-links {
  @include font-size($link-font-sizes);
}

.mdev-footer {
  @include font-size($footer-font-sizes);
}

.mdev-table-head,
.mdev-table-row {
  @include font-size($table-header-font-sizes);
}

/* Link Reset / Base Inherit */
a {
  font-family: $main-font;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

/* Generic Link */

.mdev-link {
  color: $active-blue;
  font-weight: inherit;
  font-size: inherit;
  transition: all, .3s;

  &:hover,
  &:focus,
  &:active {
    color: $zucora-green;
  }
}
